<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <title>{{serviceTitle}}</title>
  <link role='swagger' rel='prefetch' href='{{url}}' />
  <script src="./swagger-admin.js"></script>
  <link rel="stylesheet" type="text/css" href="./swagger-admin.css">
</head>
<body>
  <div id='admin'
       data-component='Admin'
       data-title='{{title}}'
       data-tag='{{tag}}'
       data-model='{{model}}'>
  </div>
</body>
</html>
